<section>
    <nav class="nav">
        <div>
            <a href="/">Quote Logger</a> 
        </div>
    
        <ul>
            <li><a href="/">Home Page</a></li>
            <li><a href="/new-quote">Log a new Quote</a></li>
            <li><a href="/saved-quotes">All Saved Quotes</a></li>
        </ul>
    </nav>
</section>
