<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>

    <h1>Add a new Quote</h1>

    <!-- nav -->
    <%- include('./partials/nav.ejs') %>

    <div class="create-quote content">
        <form action="/saved-quotes" method="POST">
            <label for="quoteOrigin">Quote Origin:</label>
            <input type="text" id="quoteOrigin" name="quoteOrigin" placeholder="Where did you hear it?" required>
            <label for="emotion">Type: </label>
            <input type="text" id="emotion" name="emotion" placeholder="Happy, Sad, Inspirational, etc.." required>
            <label for="quote">Quote: </label>
            <textarea name="quote" id="quote" cols="30" placeholder="Write your quote here!"required></textarea>
            <button>Add Quote!</button>
        </form>
    </div>
    

    <!-- footer -->
    <%- include('./partials/footer.ejs') %>

</body>
</html>