<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <h1>Quote Logger Home Page</h1>
    <h4>Site for logging your favorite quotes!</h4>
    
    <!-- nav -->
    <%- include('./partials/nav.ejs') %>

    <!-- footer -->
    <%- include('./partials/footer.ejs') %>

</body>
</html>